<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good)</span></div>

# What to expect in this chapter

# 1 There is more to if

In [1]:
name = 'Batman'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
else:
    print('Hello World!')

Hello Batman!

# 2 Asking questions

In [2]:
fruits = ['apple', 'banana', 'pineapple', 'jackfruit', 'tomato']
vegetables = ['celery', 'potato', 'broccoli', 'kale', 'tomato']

In [3]:
'apple' in fruits

True

In [4]:
'strawberry' in fruits

False

In [5]:
'strawberry' not in fruits

True

In [6]:
('apple' in fruits) and ('celery' in vegetables)

True

In [7]:
('tomato' in fruits) and ('tomato' in vegetables)

True

In [8]:
('apple' in fruits) or ('radish' in vegetables)

True

In [9]:
('apple' in fruits) and ('radish' in vegetables)

False

# 3 Remember

Examples of Python keywords: not, in, and, or.

## 3.1 Asking Math questions

| Question/Condition  | Math Symbol | Python Symbol |
|---------------------|:-----------:|:-------------:|
| Equals?             |      =      |       ==      |
| Not equal?          |      ≠      |       !=      |
| Less than?          |      <      |       <       |
| Greater than?       |      >      |       >       |
| Less than or equal? |      ≤      |       <=      |
| More than or equal? |      ≥      |       >=      |

If x is more than 5 but less than 15, it can be written as:

- x > 5 and x < 15
- (x > 5) and (x < 15)
- 5 < x < 15

# 4 Python stores information in different formats or types

In [3]:
x = int(1.234)

In [5]:
print(x, type(x)) #since x is defined as (int) the answer will appear as an integer, ignoring the decimal points

1 <class 'int'>

In [6]:
x = str(1.234)

In [7]:
print(x, type(x)) #x defined as (str) makes it "appear" as an English word instead

1.234 <class 'str'>

In [8]:
x = float(1.234)

In [9]:
print(x, type(x)) #x defined as (float) makes it appear as a decimal

1.234 <class 'float'>

In [10]:
x = complex(1.234)

In [11]:
print(x, type(x)) #x defined as (complex) will make it appear as a complex number, which might include imaginary numbers

(1.234+0j) <class 'complex'>

In [12]:
x = '1.234'
print(x, type(x))

1.234 <class 'str'>

In [15]:
x = float(1.234) #Changing the value from (str) string to (float) decimal is known as typecasting
print(x, type(x))

1.234 <class 'float'>

# 5 Never compare floats directly

## 5.1 The Problem

In [15]:
import numpy as np

In [20]:
a = 0.1
a3 = 0.3 
a * 3 == a3

False

In [21]:
f'{0.3:.17f}'

'0.29999999999999999'

## 5.2 A solution

In [19]:
eps = 1E-10
abs(a * 3 - a3) < eps

True

In [20]:
a = 0.1
a3 = 0.3
np.isclose(a * 3, a3)

True

# 6 Combining English and variables

In [2]:
name = "Superman"
print(f"Hello {name}!")

Hello Superman!

In [3]:
name = "Superman"
print(f"Hello {name.upper()}!")

Hello SUPERMAN!

In [4]:
x = 20
print(f"The value of {x} squared is {x**2}!")

The value of 20 squared is 400!

In [5]:
text = 'Henry Cavill is Superman.'
print(f'{text}')

Henry Cavill is Superman.

In [6]:
print(f'{text:>50}')      # A block of 50 characters;
                          # aligned right

                         Henry Cavill is Superman.

In [7]:
print(f'{text:^50}')      # A block of 50 characters;
                          # aligned centre

            Henry Cavill is Superman.

In [8]:
print(f'{text:<50}')      # A block of 50 characters;
                          # aligned left

Henry Cavill is Superman.

In [22]:
print(f'The square of pi to 6 decimal places is {np.pi**2:.6f}') # .6f tells the f-string to output the number to 6 decimal places in decimal notation

The square of pi to 6 decimal places is 9.869604

In [11]:
print(f'The square of pi to 6 decimal places is {np.pi**2:.6e}') # .6f tells the f-string to output the number to 6 decimal places in scientific notation

The square of pi to 6 decimal places is 9.869604e+00

## 6.1 Structure of f-strings

| Letter | Action                         | Possible Options                                                       |
|--------|--------------------------------|------------------------------------------------------------------------|
| X      | Variable to format             | Can be a number or string                                              |
| >      | Alignment                      | - < (Left justified) <br> - > (Right justified) <br> - ^ (Centre justified)      |
| 0      | Use 0's to pad the spaces      | You can use other characters like a space                              |
| Y      | Total number of characters     |                                                                        |
| Z      | Number of decimal places       |                                                                        |
| W      | Specifies the type of variable | - f (float) <br> - d (integer) <br> - s (string) <br> - g (Asks Python to figure out) |

# 7 Escape sequences

In [28]:
print('Line 2\n\tLine 3\n\t\tLine 4')

Line 2
	Line 3
		Line 4

| **Escape Sequence** |   **Meaning**  |
|:-------------------:|:--------------:|
|          \\'         |  Single quote  |
|         `\\`        |    Backslash   |
|          \\n         |     Newline    |
|          \\t         | Horizontal Tab |

In [54]:
print('You\'re fifty years old.')  # use \' to print '

You're fifty years old.

In [55]:
print('X\\Y\\Z') # use \\ to print \

X\Y\Z

In [36]:
print('X\nY\nZ')  # use \n to print a newline

X
Y
Z

In [37]:
print('X\tY\tZ') # use \t to print tabs

X	Y	Z

# 8 Computers read = from Right to Left!

In [53]:
x = 50
y = x + 5
print(y)

55

In [52]:
y = 50
y = y + 5 # add 5 to the current value of y and reassign the value of y to the result
print(y)

55

In [51]:
x = y = 100 # assign both x and y as 100
print(x)
print(y)

100
100

# 9 Shorter and Cleaner Code

In [50]:
y = 40
y = y + 2
y
y = 40
y += 2    # Same as y = y + 2
y

42

|                | **Long form** | **Shorthand** |
|----------------|:-------------:|:-------------:|
| Addition       |   y = y + 2   |     y += 2    |
| Subtraction    |   y = y - 2   |     y -= 2    |
| Multiplication |   y = y * 2   |     y *= 2    |
| Division       |   y = y / 2   |     y /= 2    |

# 10 Python can be a prima-donna.

- Scroll to the end of an error message to see the real problem
- Use print statements to help with debugging

# 11 Best Practices for Scientific Computing

1. Write programs for people, not computers.
2. Optimise software only after it works correctly.
3. Document design and purpose, not mechanics.
4. Collaborate.

- Don't pursue the right solution from the get-go. Get something to work first and then optimize

# 12 Looking for help

In [57]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

- Use help to get information about functions from within Python. However, this is not recommended at this stage, just use Google, Stack overflow or ChatGPT

## References

## Footnotes